*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffe4c4;
}

.notes-container{
    max-width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
}

h1{
    font-size: 50px;
}

form{
    display:grid;
    padding: 20px;
}

#submit{
   display: flex;
   justify-content: center;
    margin-top: 15px;
}

h5{
    text-align: center;
    color:#8b13e1d2;
 }

#display{
    display:grid;
    justify-content: center;
    align-items: center;
    padding:25px;
    font-size:20px;
}

li{
    list-style: none;
    display:flex;
    gap: 5px;
}

         /* mobile */
@media screen and (max-width:367px){
    .notes-container{
        display: flex;
    }
}
         /* laptop */
@media screen and (max-width:1280px){
    .notes-container{
        display: flex;
    }
}